.tablecontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tablecontainer .item1 {
    display: flex;

    width: 50%;
    height: 20vh;
    background-color: aqua;
    align-items: center;
}

.tablecontainer .item2 {
    display: flex;
    width: 50%;
    height: 20vh;
    background-color: brown;
    align-items: center;
}
